<div id="wpml-tm-post-edit-alert" class="js-wpml-tm-post-edit-alert wpml-tm-post-edit-alert" style="display: none;">
    <p>{{ warning|raw }}</p>
    <p class="text-center">
        <a class="js-wpml-tm-go-back wpml-button button button-secondary">{{ go_back_button }}</a>
        <a class="js-wpml-tm-use-standard-editor wpml-button button button-secondary">{{ edit_anyway_button }}</a>
        <a class="wpml-button button button-primary" href="{{ translation_editor_url }}">{{ open_in_te_button }}</a>
    </p>
</div>