<div class="wpml-box wpml-wc-box js-wpml-wc">
		<input type="hidden" name="wpml_words_count_panel_nonce" value="{{ nonces.wpml_words_count_panel_nonce|e }}">
		<input type="hidden" name="wpml_words_count_chunk_size" value="{{ wc_chunk_size|e }}">

		<div class="wpml-wc-messages">
			<p>{{ strings.message }}</p>
		</div>
		<div class="wpml-wc-buttons">
			<p>
				<a class="button button-secondary js-wc-dialog-init" href="{{ strings.openDialogButtonURL }}" title="{{ strings.openDialogButton|e }}">
					{{ strings.openDialogButton }}
				</a>
			</p>

			<p>
				<small>
					{{ strings.callToAction.Text }} <a href="{{ strings.callToAction.linkURL }}" target="_blank" class="wpml-external-link" title="{{ strings.callToAction.linkText|e }}">{{ strings.callToAction.linkText }}</a>
				</small>
			</p>
		</div>
		{% include 'dialog.twig' with dialog %}
</div>